machine:
  network:
    hostname: ${hostname}
    nameservers: ${dns}
    interfaces:
      - interface: eth0
        addresses:
          - "${ip}/${netmask}"
        routes: ${routes}
  time:
    servers:
      - time.cloudflare.com

