[Global]
insecure-flag="true"
cluster-id = "${vsphere_cluster_id}"

[VirtualCenter "${virtual_center}"]
user = "${vsphere_user}"
password = "${vsphere_password}"
port = "443"
datacenters = "${vsphere_datacenter}"
